<h3>Bonjour {{firstname}} {{lastname}}</h3>
<p>Nous vous souhaitons la bienvenue parmi communauté <a href="https://fidelityshop.net">FidelityShop</a></p>
<p>vous pouvez dès maintenant vous connecter à notre site internet pour visualiser vos points de fidélités à n'importe quel moments depuis votre 
ordinateur, tablette ou smartphone.</p>
<p>N'hésitez pas à parcourir notre interface et découvrir nos fonctionnalités à trés vite sur <a href="https://fidelityshop.net">https://fidelityshop.net</a></p>
