{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh;width:100%">
        <div class="col-md-6 col-sm-12">
<h1 class="card-title">Mot de passe oublié</h1>
<br>
            <div class="card">
            
            <br>
            <h6><class="card-title"> Entrez votre email, numéro de téléphone ou nom d'utilisateur.</h6>
                <div class="card-body">
                
                    {% if error is defined and error != "" %}
                        <div class="alert alert-danger">{{ error}}</div>
                    {% endif %}

                    <form action="{{url("begin_password_reset")}}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="form-group">
                            <label for="inputEmail" class="sr-only">Login</label>
                            <br>
                            <input type="text" name="email" id="inputEmail" class="form-control" placeholder="E-mail ou téléphone" required autofocus>
                        </div>

                        <button type="submit" id="sendResetPassword" class="btn btn-primary float-right">Confirmer</button><br/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
