
<p><h1>Crée un nouveau mot de passe</h1>

<h3>Bonjour {{firstname}} {{lastname}}, </h3>


<p>Nous avons reçu une demande de modification de votre mot de passe.</p>

Cliquez sur le lien ci dessous pour modifier votre mot de passe. </p>

<p><a href="{{url('post_reset_password',{'token': token})}}">Réinitialisation mot de passe</a></p>

<p>Si vous n'avez PAS demandé un nouveau mot de passe, veuillez ignorer cet email et votre mot de passe restera le même.</p>

<br/>
<p>Nous restons à votre disposition si vous avez d'autres questions.</p>

<br/>
<br>

<p>Cordialement</p>
<p>Fidelityshop</p>
<a href="http://fidelityshop.net" target="_blank">https://fidelityshop.net</a>
