{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body_right %}
	<div class="panel panel-container stats_wrapper">
		{% block stats_cards %}{% endblock %}
	</div>

	<div class="panel panel-default table_wrapper">
		<div class="panel-heading">{% block panel_title %}{% endblock %}</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						{% block table_header %}{% endblock %}
						<th>#</th>
						<th>Montant</th>
						<th>Nombre de points</th>
						<th>Client</th>
						<th>Heure</th>
					</tr>
				</thead>
				<tbody>
					{% block table_body %}{% endblock %}
					{% for transaction in app.user.transactions %}
						{{ dump(transaction) }}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}


