{% extends 'base.html.twig' %}

{% block title %}Réglages{% endblock %}
{% block breadcrumb_items %}<li class="active">Réglages</li>{% endblock %}

{% block body_right %}

	<h5>Réglages</h5>

{% endblock %}
