{% extends 'base.html.twig' %}

{% block body_right %}
	{% if form_sent == true %}
		{% include 'toasts/settings_saved.html.twig' %}
	{% endif %}
	<div class="panel panel-default table_wrapper">
		<div class="panel-body container-fluid row">
			<h2>Votre compte a été supprimé</h2>
		</div>
	</div>

{% endblock %}